:root {
  --primary-color: rgb(89, 128, 255);
  --secondary-color: rgb(158, 181, 255);
  --link-color: rgb(4, 0, 128);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'STIX Two Text', serif;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

/* layout */
.outer-wrapper {
  width: 100%;
  position: relative;
}

.outer-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(myspace-pics/bg2.jpg) fixed;
  z-index: -1;
}

.wrapper {
  width: 80%;
  display: flex;
  gap: clamp(0, 1em, 2em);
  margin: 0 auto;
  z-index: 1;
  background-color: #fff;
}

.left-wrapper, .right-wrapper {
  max-width: 70%;
  padding: clamp(.75em, 3%, 2em);
}


/* presets */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-family: var(--primary-font);
  font-weight: 400;
}

a:hover, a:focus {
  color: var(--primary-color);
}

h1, h2, h3, h4,
h5, h6, p {
  font-family: var(--secondary-font);
}

button {
  border: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}


/* left side */
.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: clamp(.25em, 1em, 2em);
  place-items: center;
  padding: 0 1.5em 0 1.5em;
}

.left-intro, .right-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5em;
}

.left-intro i {
  font-size: 1.25rem;
  background-color: yellow;
  border-radius: 50%;
}

.info {
  margin-block: 1em;
}

.contact {
  border: 2px solid var(--primary-color);
  margin-block: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-user {
  background-color: var(--primary-color);
  padding-left: 1em;
  width: 100%;
}

.contact-user > h2 {
  color: #fff;
}

.contact-list > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: clamp(.75em, 1em, 2em);
  padding: clamp(.35em, 1em, 1.25em);
}

.contact-list li {
  display: flex;
  align-items: flex-start;
  gap: .3em;
}

.contact-list i, 
.contact-list a {
  font-size: .75rem;
}

.contact-list i {
  color: var(--primary-color);
}

.profile-song {
  background-color: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-block: 3em;
  border: 2px solid rgb(10, 10, 10);
}

.btn {
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  padding: 2em;
  margin-left: .25em;
}

.btn i {
  font-size: 1.25rem;
  color: #fff;
}

.dash {
  background-color: rgba(10, 10, 10, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .3em;
  margin: 0 auto;
}

.dash h3,
.dash h5 {
  color: #fff;
  text-align: center;
}

.progress-container {
  height: 12px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 8px;
}

.progress-bar {
  background: #fff;
  width: 0%;
  height: 100%;
}

.album-art {
  height: 100%;
  margin-left: auto;
}

.album-art img {
  display: block;
}

.interests {
  margin: 3em 0 1em 0;
  border: 2px solid var(--primary-color);
}

.interests-heading {
  background-color: var(--primary-color);
  padding-left: 1em;
  color: #fff;
}

.interest-lists {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: .2em;
}

.interest-title {
  background-color: var(--secondary-color);
  color: var(--link-color);
  padding: .3em;
  margin: .1em;
}

.list {
  background-color: rgb(212, 211, 242);
  padding: .3em;
  margin: .1em;
}


/* right side */
.banner {
  border: 2px solid black;
  text-align: center;
  padding: 2em .75em;
  margin: 0 0 3em 0;
}

.blurbs {
  display: flex;
  flex-direction: column;
  margin-block: 3em;
}

.blurbs h2 {
  color: orange;
}

.blurb-heading {
  background-color: rgb(247, 224, 198);
}

.blurb-heading h2 {
  padding-left: 1em;
}

.blurb-info {
  margin-top: 1em;
  line-height: 1.4;
}

.blurb-info h2:nth-of-type(2) {
  margin-top: 1em;
}

.top-eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.top-eight-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.top-eight-layout figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.dorian, .wds {
  object-position: right;
}


/* media queries for smaller screens */
@media (max-width: 1280px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    position: relative;
  }
  .profile-song {
    position: fixed;
    top: 82vh;
    right: .5em;
    background: transparent;
    border: none;
    opacity: 0;
    animation: play-button 1.5s ease-in forwards;
  }
  .dash {
    position: fixed;
    top: 96.5vh;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(89, 128, 255, 1);
    width: 100%;
    padding: .25em;
    opacity: 0;
    animation: media-dash 2.5s ease-in forwards;
  }
  @keyframes play-button {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes media-dash {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .dash h3, .dash h5 {
    font-size: .9rem;
  }
  .progress-container {
    width: 35%;
  }
  .album-art {
    display: none;
  }
  .btn {
    padding: 1em;
    border: 2px solid var(--primary-color);
  }
  .btn i {
    color: var(--primary-color);
  }
  .interest-lists {
    display: flex;
    flex-direction: column;
  }
  .interest-title {
    text-align: center;
  }
  .top-eight {
    margin-bottom: 4em;
  }
}



/* pics page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.gallery img {
  margin: 1.75em 1.25em;
}

figcaption {
  text-align: center;
  font-family: var(--primary-font);
} 

.wade-one {
  object-position: top center;
}

.wade-three, .wade-four {
  object-position: top center;
  object-fit: fill;
}

.wade-five {
  object-fit: cover;
  object-position: top center;
}